<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<http pattern="/resources/**" security="none"/>
	<http pattern="/META-INF/**" security="none"/>
	<http pattern="/WEB-INF/layout/**" security="none"/>
	<http pattern="/login" security="none"/>

    <http auto-config="true">
<!-- 	   	<intercept-url pattern="/login" access="IS_AUTHENTICATED_ANONYMOUSLY"/> -->
    	<intercept-url pattern="/admin/**" access="ROLE_ADMIN"/>
    	<intercept-url pattern="/**" access="ROLE_USER"/>
    	<form-login login-page="/login"/>
<!--     	<openid-login login-page="/login"/> -->
		<openid-login/>
    </http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
<!-- 				<user name="https://www.google.com/accounts/o8/id" password="" authorities="ROLE_USER, ROLE_ADMIN"/> -->
				<user name="user@zoostar.net" password="user123" authorities="ROLE_USER"/>
				<user name="admin@zoostar.net" password="admin123" authorities="ROLE_USER, ROLE_ADMIN"/>
			</user-service>
		</authentication-provider>
	</authentication-manager>

</beans:beans>